* {
    padding: 0;
    margin: 0;
} 

body {
    background: #fff;
    font: 1em "Trebuchet MS" Verdana, Arial, sans-serif;
    line-height: 1.5em; 
}

a {
    color: #3B6EBF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#content {
padding: 0 0 0 0;
}


.header {
height: 130px;
background: #85ACF7 url('images/hidr.jpg');
}

.header h1 { padding-left: 17px; padding-top: 30px; font-size: 22px; color: #FFF; }
.header h1 a { font-size: 30px; color: #FFF; text-decoration: none;}
.header h2 { padding-left: 17px; padding-top: 10px; font-size: 17px; color: #FFF; }

.breadcrumbs { 
    background: #F6F9FB; 
    border-bottom: 1px solid #E1E1E1; 
    padding: 5px;
}

.middle {
    float: left;
    width: 60%;
    margin: 0 10px;
    padding: 2% 2%;
    text-align: justify;
}


.middle h2 { 
    color: #3B6EBF; 
    font-size: 24px; 
    margin: 100px 0px 20px 100px;
}

p {
    margin: 20px 100px;
}

#clear {
    display: block;
    clear: both;
    width: 100%;
    height:100px;
    overflow:hidden;
}

#footer {
    text-align: center;
    color: #22F;
    background: #F6F9FB; 
    border-top: 2px solid #E1E1E1; 
    border-bottom: 2px solid #E1E1E1; 
    padding: 5px;
}


